{% extends 'base.html.twig' %}

{% block title %} {{ 'article.show.title' | trans }}{% endblock %}


{% block body %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.creation | date('d/m/y ') }}</p>
    <p>{{ article.body }}</p>
    
    {{ form_start(delete_form)}}
    <input type="submit" value="{{ 'article.show.delete' | trans }}" name="supprimer" class="">
    {{ form_end(delete_form) }}
{% endblock %}

